<!DOCTYPE html>
<html lang="en">
{{> head}}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
        border: 1px solid #fff;

    }
</style>

<body>
    <div class="container bodyContent">
        {{{body}}}
    </div>
</body>

</html>