<form action="/api/books/add" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Book name">
    <br><br>
    <label for="img">Img</label>
    <input type="text" name="img" id="img" placeholder="Book img">
    <br><br>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" placeholder="Book price">
    <input type="submit">
</form>