<form action="/api/books/update" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Book name" value="{{oldBook.name}}">
    <br><br>
    <label for="img">Img</label>
    <input type="text" name="img" id="img" placeholder="Book img" value="{{oldBook.img}}">
    <input type="hidden" name="id" id="id" value="{{oldBook.id}}">
    <br><br>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" placeholder="Book price" value="{{oldBook.price}}">
    <input type="submit">
</form>