* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.books {
    margin-top: 100px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

table {
    max-width: 800px;
    margin: auto;
    border: 1px solid black;
}

.all-price {
    width: max-content;
    margin-left: auto;  
    margin-top: 45%;
}

.absolut{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: rgb(4, 214, 186);
}

.relative{
    position: relative;
}