doctype html
html(lang="en")
    include ../partials/head
    body
        include ../partials/nav
        .bodyContent 
            block content
        include ../partials/footer
        include ../partials/scripts
